In [1]:
import pandas as pd
import csv

In [2]:
dtype_dict1 = {
    'tconst': str,
    'nconst': str 
}

# dtype_dict2 = {'budget': float,
#     'popularity': float,
#     'revenue': float, 
#     'runtime': int,
#     'vote_average': float,
#     'vote_count': int
# }

In [8]:
#OG_title_ratings

df_title_ratings = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title ratings.tsv',sep='\t', dtype=dtype_dict1)
filtered_df_ratings = df_title_ratings[df_title_ratings['numVotes'] > 5000]

print(filtered_df_ratings)
#df_ogratings.columns

            tconst  averageRating  numVotes
9        tt0000010            6.8      7436
11       tt0000012            7.4     12697
13       tt0000014            7.1      5747
298      tt0000417            8.2     55001
308      tt0000439            7.3     20766
...            ...            ...       ...
1401684  tt9900782            8.4     41746
1401844  tt9906260            9.7    124965
1401873  tt9907782            6.2     15474
1402138  tt9913754            7.3      5365
1402229  tt9916362            6.4      5707

[24742 rows x 3 columns]

In [9]:
unique_values_count = filtered_df_ratings['tconst'].nunique()
null_count = filtered_df_ratings['tconst'].isnull().sum()
print(null_count)

0

In [10]:
#OG_name

df_name = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/name.tsv',sep='\t', dtype=dtype_dict1 )

print(df_name)
#df_name.columns

             nconst         primaryName birthYear deathYear  \
0         nm0000001        Fred Astaire      1899      1987
1         nm0000002       Lauren Bacall      1924      2014
2         nm0000003     Brigitte Bardot      1934        \N
3         nm0000004        John Belushi      1949      1982
4         nm0000005      Ingmar Bergman      1918      2007
...             ...                 ...       ...       ...
13255429  nm9993714   Romeo del Rosario        \N        \N
13255430  nm9993716       Essias Loberg        \N        \N
13255431  nm9993717  Harikrishnan Rajan        \N        \N
13255432  nm9993718         Aayush Nair        \N        \N
13255433  nm9993719          Andre Hill        \N        \N

                            primaryProfession  \
0              soundtrack,actor,miscellaneous
1                          actress,soundtrack
2         actress,soundtrack,music_department
3                     actor,soundtrack,writer
4                       writer,director,actor
...                                       ...
13255429  animation_department,art_department
13255430                                  NaN
13255431                      cinematographer
13255432                      cinematographer
13255433                                  NaN

                                   knownForTitles
0         tt0050419,tt0072308,tt0027125,tt0053137
1         tt0037382,tt0075213,tt0117057,tt0038355
2         tt0049189,tt0054452,tt0056404,tt0057345
3         tt0078723,tt0072562,tt0080455,tt0077975
4         tt0050986,tt0069467,tt0083922,tt0050976
...                                           ...
13255429          tt2455546,tt11657662,tt14069590
13255430                                       \N
13255431                                tt8736744
13255432                                tt8736744
13255433                                       \N

[13255434 rows x 6 columns]

In [11]:
unique_values_count2 = df_name['nconst'].nunique()
null_count2 = df_name['nconst'].isnull().sum()
print(unique_values_count2)

13255434

In [12]:
#OG_title_basic

df_title_basics = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title basics.tsv',sep='\t')

print(df_title_basics)
#df_titlebasics.columns

/var/folders/pc/g7llzl3517q8v_lqg7_6_5_40000gn/T/ipykernel_1038/2301378872.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_title_basics = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title basics.tsv',sep='\t')

             tconst  titleType               primaryTitle  \
0         tt0000001      short                 Carmencita
1         tt0000002      short     Le clown et ses chiens
2         tt0000003      short             Pauvre Pierrot
3         tt0000004      short                Un bon bock
4         tt0000005      short           Blacksmith Scene
...             ...        ...                        ...
10554927  tt9916848  tvEpisode              Episode #3.17
10554928  tt9916850  tvEpisode              Episode #3.19
10554929  tt9916852  tvEpisode              Episode #3.20
10554930  tt9916856      short                   The Wind
10554931  tt9916880  tvEpisode  Horrid Henry Knows It All

                      originalTitle isAdult startYear endYear runtimeMinutes  \
0                        Carmencita       0      1894      \N              1
1            Le clown et ses chiens       0      1892      \N              5
2                    Pauvre Pierrot       0      1892      \N              4
3                       Un bon bock       0      1892      \N             12
4                  Blacksmith Scene       0      1893      \N              1
...                             ...     ...       ...     ...            ...
10554927              Episode #3.17       0      2009      \N             \N
10554928              Episode #3.19       0      2010      \N             \N
10554929              Episode #3.20       0      2010      \N             \N
10554930                   The Wind       0      2015      \N             27
10554931  Horrid Henry Knows It All       0      2014      \N             10

                              genres
0                  Documentary,Short
1                    Animation,Short
2           Animation,Comedy,Romance
3                    Animation,Short
4                       Comedy,Short
...                              ...
10554927         Action,Drama,Family
10554928         Action,Drama,Family
10554929         Action,Drama,Family
10554930                       Short
10554931  Adventure,Animation,Comedy

[10554932 rows x 9 columns]

In [14]:
unique_values_count3 = df_title_basics['tconst'].nunique()
null_count3 = df_title_basics['tconst'].isnull().sum()
print(null_count3)

0

In [13]:
#OG_title_principals

df_title_principals = pd.read_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/dataset/title principals.tsv',sep='\t', dtype=dtype_dict1)

#print(df_title_principals)
df_title_principals.columns

Index(['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'], dtype='object')

In [16]:
unique_values_count4 = df_title_principals['nconst'].nunique()
null_count4 = df_title_principals['nconst'].isnull().sum()
print(null_count4)

0

In [14]:
#actors_pivot = actors.pivot(index='tconst', columns='ordering', values='nconst').reset_index()
#actors_pivot.columns = [f'nconst_{col}' if isinstance(col, int) else col for col in actors_pivot.columns]


pivot_table = df_title_principals.pivot_table(index='tconst', columns='category', values='nconst', aggfunc=lambda x: ' '.join(str(v) for v in x))

pivot_table.reset_index(inplace=True)

pivot_table.columns.name = None
pivot_table.rename_axis(None, axis=1, inplace=True)
pivot_table.rename(columns={'tconst': 'tconst'}, inplace=True)

print(pivot_table)

            tconst                actor                          actress  \
0        tt0000001                  NaN                              NaN
1        tt0000002                  NaN                              NaN
2        tt0000003                  NaN                              NaN
3        tt0000004                  NaN                              NaN
4        tt0000005  nm0443482 nm0653042                              NaN
...            ...                  ...                              ...
9561692  tt9916848            nm3665668    nm5262613 nm8250913 nm8690065
9561693  tt9916850            nm3665668    nm5262613 nm8250913 nm8690065
9561694  tt9916852            nm3665668    nm5262613 nm8250913 nm8690065
9561695  tt9916856           nm10538646  nm3394271 nm10538650 nm10538647
9561696  tt9916880  nm1483166 nm0286175              nm2784764 nm0254176

        archive_footage archive_sound cinematographer              composer  \
0                   NaN           NaN       nm0374658                   NaN
1                   NaN           NaN             NaN             nm1335271
2                   NaN           NaN             NaN             nm1335271
3                   NaN           NaN             NaN             nm1335271
4                   NaN           NaN             NaN                   NaN
...                 ...           ...             ...                   ...
9561692             NaN           NaN             NaN             nm2900202
9561693             NaN           NaN             NaN   nm2898368 nm2900202
9561694             NaN           NaN             NaN             nm2900202
9561695             NaN           NaN             NaN  nm10538653 nm9228549
9561696             NaN           NaN             NaN                   NaN

                    director     editor   producer production_designer  \
0                  nm0005690        NaN        NaN                 NaN
1                  nm0721526        NaN        NaN                 NaN
2                  nm0721526  nm5442200  nm1770680                 NaN
3                  nm0721526        NaN        NaN                 NaN
4                  nm0005690        NaN  nm0249379                 NaN
...                      ...        ...        ...                 ...
9561692            nm1485677        NaN        NaN                 NaN
9561693            nm1485677        NaN        NaN                 NaN
9561694            nm1485677        NaN        NaN                 NaN
9561695           nm10538645        NaN        NaN                 NaN
9561696  nm0584014 nm0996406        NaN  nm1594058                 NaN

              self                                   writer
0        nm1588970                                      NaN
1              NaN                                      NaN
2              NaN                                      NaN
3              NaN                                      NaN
4              NaN                                      NaN
...            ...                                      ...
9561692        NaN  nm9187127 nm9826385 nm9299459 nm1628284
9561693        NaN            nm9187127 nm9826385 nm1628284
9561694        NaN  nm9187127 nm9826385 nm9299459 nm1628284
9561695        NaN                                nm6951431
9561696        NaN                      nm1482639 nm2586970

[9561697 rows x 13 columns]

In [16]:
#MERGEEEEEEEEEEEE

#merged_df1 = pd.merge(df_links, df_credits, left_on='movieId', right_on='id', how='inner')
#merged_df1 = pd.merge(df_title_principals, df_title_ratings[['tconst', 'averageRating', 'numVotes']], on='tconst', how='left')
#print(merged_df1)

merged_df1 = pd.merge(pivot_table, filtered_df_ratings, on='tconst', how='inner')
print(merged_df1)

          tconst                                              actor  \
0      tt0000010                                                NaN
1      tt0000012                                                NaN
2      tt0000014                                nm0166380 nm0244989
3      tt0000417                      nm0617588 nm0029244 nm1215996
4      tt0000439  nm0302368 nm0001908 nm0007625 nm0055607 nm0055...
...          ...                                                ...
24735  tt9900782           nm1912683 nm1230844 nm10183124 nm6998719
24736  tt9906260                      nm2569233 nm4043252 nm2893431
24737  tt9907782                                nm2933542 nm0677944
24738  tt9913754                                                NaN
24739  tt9916362                                nm0107165 nm0266723

                                        actress archive_footage archive_sound  \
0                                           NaN             NaN           NaN
1                                           NaN             NaN           NaN
2                                           NaN             NaN           NaN
3                                     nm0076933             NaN           NaN
4                                           NaN             NaN           NaN
...                                         ...             ...           ...
24735                                       NaN             NaN           NaN
24736                                 nm2095800             NaN           NaN
24737                       nm0717709 nm3646923             NaN           NaN
24738  nm4926180 nm2623841 nm8460271 nm10557982             NaN           NaN
24739                      nm3766704 nm10678594             NaN           NaN

      cinematographer                       composer  \
0                 NaN                            NaN
1                 NaN                            NaN
2                 NaN                            NaN
3                 NaN  nm0242155 nm0324073 nm4491570
4           nm0807466                            NaN
...               ...                            ...
24735             NaN                      nm4237148
24736             NaN                            NaN
24737             NaN                      nm4969741
24738             NaN                            NaN
24739             NaN                      nm5813626

                            director               editor  \
0                          nm0525910                  NaN
1                nm0525908 nm0525910                  NaN
2                          nm0525910                  NaN
3                                NaN                  NaN
4                          nm0692105                  NaN
...                              ...                  ...
24735                      nm7992231                  NaN
24736  nm2967345 nm2013928 nm1267452                  NaN
24737                      nm1193346  nm4753375 nm0561430
24738                      nm1288934                  NaN
24739                      nm1893148                  NaN

                                      producer production_designer  \
0                                          NaN                 NaN
1                                          NaN                 NaN
2                                          NaN                 NaN
3                                          NaN                 NaN
4                                          NaN                 NaN
...                                        ...                 ...
24735                      nm4272786 nm3909481                 NaN
24736                                      NaN                 NaN
24737                      nm0509176 nm4403105                 NaN
24738  nm1466754 nm7648532 nm3214096 nm2049577                 NaN
24739            nm2970042 nm4065853 nm1086949                 NaN

                                                    self  \
0                                                    NaN
1      nm2880396 nm9735580 nm0525900 nm9735581 nm9735...
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
24735                                                NaN
24736                                                NaN
24737                                                NaN
24738                                                NaN
24739                                                NaN

                              writer  averageRating  numVotes
0                                NaN            6.8      7436
1                                NaN            7.4     12697
2                                NaN            7.1      5747
3                nm0894523 nm0920229            8.2     55001
4                          nm1145809            7.3     20766
...                              ...            ...       ...
24735            nm7807469 nm8325456            8.4     41746
24736  nm5003154 nm4697729 nm1639992            9.7    124965
24737                            NaN            6.2     15474
24738                      nm0058164            7.3      5365
24739                      nm3471432            6.4      5707

[24740 rows x 15 columns]

In [17]:
merged_df2 = pd.merge(merged_df1, df_title_basics, on='tconst', how='left')
print(merged_df2)

          tconst                                              actor  \
0      tt0000010                                                NaN
1      tt0000012                                                NaN
2      tt0000014                                nm0166380 nm0244989
3      tt0000417                      nm0617588 nm0029244 nm1215996
4      tt0000439  nm0302368 nm0001908 nm0007625 nm0055607 nm0055...
...          ...                                                ...
24735  tt9900782           nm1912683 nm1230844 nm10183124 nm6998719
24736  tt9906260                      nm2569233 nm4043252 nm2893431
24737  tt9907782                                nm2933542 nm0677944
24738  tt9913754                                                NaN
24739  tt9916362                                nm0107165 nm0266723

                                        actress archive_footage archive_sound  \
0                                           NaN             NaN           NaN
1                                           NaN             NaN           NaN
2                                           NaN             NaN           NaN
3                                     nm0076933             NaN           NaN
4                                           NaN             NaN           NaN
...                                         ...             ...           ...
24735                                       NaN             NaN           NaN
24736                                 nm2095800             NaN           NaN
24737                       nm0717709 nm3646923             NaN           NaN
24738  nm4926180 nm2623841 nm8460271 nm10557982             NaN           NaN
24739                      nm3766704 nm10678594             NaN           NaN

      cinematographer                       composer  \
0                 NaN                            NaN
1                 NaN                            NaN
2                 NaN                            NaN
3                 NaN  nm0242155 nm0324073 nm4491570
4           nm0807466                            NaN
...               ...                            ...
24735             NaN                      nm4237148
24736             NaN                            NaN
24737             NaN                      nm4969741
24738             NaN                            NaN
24739             NaN                      nm5813626

                            director               editor  \
0                          nm0525910                  NaN
1                nm0525908 nm0525910                  NaN
2                          nm0525910                  NaN
3                                NaN                  NaN
4                          nm0692105                  NaN
...                              ...                  ...
24735                      nm7992231                  NaN
24736  nm2967345 nm2013928 nm1267452                  NaN
24737                      nm1193346  nm4753375 nm0561430
24738                      nm1288934                  NaN
24739                      nm1893148                  NaN

                                      producer  ... averageRating numVotes  \
0                                          NaN  ...           6.8     7436
1                                          NaN  ...           7.4    12697
2                                          NaN  ...           7.1     5747
3                                          NaN  ...           8.2    55001
4                                          NaN  ...           7.3    20766
...                                        ...  ...           ...      ...
24735                      nm4272786 nm3909481  ...           8.4    41746
24736                                      NaN  ...           9.7   124965
24737                      nm0509176 nm4403105  ...           6.2    15474
24738  nm1466754 nm7648532 nm3214096 nm2049577  ...           7.3     5365
24739            nm2970042 nm4065853 nm1086949  ...           6.4     5707

       titleType             primaryTitle  \
0          short      Leaving the Factory
1          short   The Arrival of a Train
2          short      The Waterer Watered
3          short       A Trip to the Moon
4          short  The Great Train Robbery
...          ...                      ...
24735      movie                   Kaithi
24736  tvEpisode                     Hero
24737      movie               The Cursed
24738  tvEpisode               Psalm 46:5
24739      movie                    Coven

                             originalTitle isAdult startYear endYear  \
0      La sortie de l'usine Lumière à Lyon       0      1895      \N
1         L'arrivée d'un train à La Ciotat       0      1896      \N
2                        L'arroseur arrosé       0      1895      \N
3                   Le voyage dans la lune       0      1902      \N
4                  The Great Train Robbery       0      1903      \N
...                                    ...     ...       ...     ...
24735                               Kaithi       0      2019      \N
24736                                 Hero       0      2019      \N
24737                     Eight for Silver       0      2021      \N
24738                           Psalm 46:5       0      2020      \N
24739                             Akelarre       0      2020      \N

      runtimeMinutes                      genres
0                  1           Documentary,Short
1                  1           Documentary,Short
2                  1                Comedy,Short
3                 13     Action,Adventure,Comedy
4                 11      Action,Adventure,Crime
...              ...                         ...
24735            145       Action,Crime,Thriller
24736             24  Action,Adventure,Animation
24737            111      Fantasy,Horror,Mystery
24738             50        Action,Drama,Fantasy
24739             92               Drama,History

[24740 rows x 23 columns]

In [19]:
df_w_rev = pd.read_csv('/Users/Trisha/Desktop/Software Des/tconsts_revenue.csv', dtype=dtype_dict1)

In [20]:
merged_df_rev = pd.merge(merged_df2, df_w_rev, on='tconst', how='inner')
print(merged_df_rev)

          tconst                                     actor  \
0      tt0035423             nm0413168 nm0000630 nm0005227
1      tt0064165             nm0681566 nm0489311 nm0099366
2      tt0064285             nm0000076 nm0137105 nm0898416
3      tt0065134             nm0000142 nm0299578 nm0605494
4      tt0065377             nm0000044 nm0001509 nm0001421
...          ...                                       ...
11321  tt9893250                                 nm0227759
11322  tt9894470   nm0002332 nm0006669 nm0004365 nm0184392
11323  tt9900782  nm1912683 nm1230844 nm10183124 nm6998719
11324  tt9907782                       nm2933542 nm0677944
11325  tt9916362                       nm0107165 nm0266723

                             actress archive_footage archive_sound  \
0                          nm0000212             NaN           NaN
1                          nm0002769             NaN           NaN
2                          nm0782563             NaN           NaN
3                          nm0000511             NaN           NaN
4                          nm0781029             NaN           NaN
...                              ...             ...           ...
11321  nm0683253 nm2555462 nm0001848             NaN           NaN
11322                            NaN             NaN           NaN
11323                            NaN             NaN           NaN
11324            nm0717709 nm3646923             NaN           NaN
11325           nm3766704 nm10678594             NaN           NaN

      cinematographer   composer             director               editor  \
0           nm0238698  nm0448843            nm0003506            nm0107463
1                 NaN        NaN            nm0767110                  NaN
2           nm0000743        NaN                  NaN            nm0347071
3                 NaN  nm0001553            nm0796923                  NaN
4           nm0005768  nm0000055  nm0780833 nm0368871                  NaN
...               ...        ...                  ...                  ...
11321       nm1397781  nm2169909            nm2128335                  NaN
11322             NaN        NaN            nm3976308                  NaN
11323             NaN  nm4237148            nm7992231                  NaN
11324             NaN  nm4969741            nm1193346  nm4753375 nm0561430
11325             NaN  nm5813626            nm1893148                  NaN

                            producer  ... numVotes titleType  \
0                          nm0465298  ...    88586     movie
1                nm0200476 nm0093472  ...     5487     movie
2                                NaN  ...     8817     movie
3                nm0143188 nm0705228  ...    30236     movie
4                          nm0403022  ...    21451     movie
...                              ...  ...      ...       ...
11321  nm5715332 nm3267061 nm4212466  ...   144110     movie
11322  nm2447772 nm3991275 nm5472785  ...     9517     movie
11323            nm4272786 nm3909481  ...    41746     movie
11324            nm0509176 nm4403105  ...    15474     movie
11325  nm2970042 nm4065853 nm1086949  ...     5707     movie

                    primaryTitle              originalTitle  isAdult  \
0                 Kate & Leopold             Kate & Leopold        0
1             The Things of Life       Les choses de la vie        0
2                 The Wild Child           L'enfant sauvage        0
3      Two Mules for Sister Sara  Two Mules for Sister Sara        0
4                        Airport                    Airport        0
...                          ...                        ...      ...
11321               I Care a Lot               I Care a Lot        0
11322                        VFW                        VFW        0
11323                     Kaithi                     Kaithi        0
11324                 The Cursed           Eight for Silver        0
11325                      Coven                   Akelarre        0

      startYear endYear runtimeMinutes                   genres       Revenue
0          2001      \N            118   Comedy,Fantasy,Romance   $76,019,048
1          1970      \N             89            Drama,Romance        $5,063
2          1970      \N             83  Biography,Drama,History       $65,560
3          1970      \N            116  Adventure,Drama,Romance    $5,050,000
4          1970      \N            137    Action,Drama,Thriller  $100,489,151
...         ...     ...            ...                      ...           ...
11321      2020      \N            118       Comedy,Crime,Drama    $1,351,662
11322      2019      \N             92      Action,Crime,Horror       $23,101
11323      2019      \N            145    Action,Crime,Thriller      $522,938
11324      2021      \N            111   Fantasy,Horror,Mystery    $4,588,389
11325      2020      \N             92            Drama,History      $317,907

[11326 rows x 24 columns]

In [21]:
merged_df_rev.to_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/merged_df_rev.csv', index=False)

In [30]:
# from itertools import product

# def expand_rows(row):
#     actors = str(row['actor']).split() if pd.notna(row['actor']) else []
#     actresses = str(row['actress']).split() if pd.notna(row['actress']) else []
    
#     combinations = list(product(actors, actresses)) if actresses else [(actor,) for actor in actors]
    
#     row_data = row.to_dict()
#     expanded_rows = []
#     for combo in combinations:
#         new_row = row_data.copy()
#         new_row['actor'] = combo[0] if len(combo) > 0 else None
#         new_row['actress'] = combo[1] if len(combo) > 1 else None
#         expanded_rows.append(new_row)
        
#     return expanded_rows

# expanded_data = []
# for index, row in merged_df_rev.iterrows():
#     expanded_data.extend(expand_rows(row))

# expanded_merged_df_rev = pd.DataFrame(expanded_data)

# print(expanded_merged_df_rev)

In [29]:
def create_combinations(row, columns):
    list_of_entries = []
    for col in columns:
        entries = str(row[col]).split() if pd.notna(row[col]) else []
        list_of_entries.append(entries if entries else [None])
    
    all_combinations = list(product(*list_of_entries))
    
    row_data = row.to_dict()
    expanded_rows = []
    for combo in all_combinations:
        new_row = row_data.copy()
        for i, col in enumerate(columns):
            new_row[col] = combo[i]
        expanded_rows.append(new_row)
        
    return expanded_rows

columns_to_combine = [
    'actor', 'actress', 'archive_footage', 'archive_sound',
    'cinematographer', 'composer', 'director', 'editor',
    'producer', 'production_designer', 'self', 'writer'
]

expanded_data_all_cols = []
for index, row in merged_df_rev.iterrows():
    expanded_data_all_cols.extend(create_combinations(row, columns_to_combine))

expanded_merged_df_rev_all_cols = pd.DataFrame(expanded_data_all_cols)

print(expanded_merged_df_rev_all_cols)

           tconst      actor     actress archive_footage archive_sound  \
0       tt0035423  nm0413168   nm0000212            None          None
1       tt0035423  nm0000630   nm0000212            None          None
2       tt0035423  nm0005227   nm0000212            None          None
3       tt0064165  nm0681566   nm0002769            None          None
4       tt0064165  nm0681566   nm0002769            None          None
...           ...        ...         ...             ...           ...
139468  tt9916362  nm0266723   nm3766704            None          None
139469  tt9916362  nm0266723   nm3766704            None          None
139470  tt9916362  nm0266723  nm10678594            None          None
139471  tt9916362  nm0266723  nm10678594            None          None
139472  tt9916362  nm0266723  nm10678594            None          None

       cinematographer   composer   director     editor   producer  ...  \
0            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
1            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
2            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
3                 None       None  nm0767110       None  nm0200476  ...
4                 None       None  nm0767110       None  nm0200476  ...
...                ...        ...        ...        ...        ...  ...
139468            None  nm5813626  nm1893148       None  nm4065853  ...
139469            None  nm5813626  nm1893148       None  nm1086949  ...
139470            None  nm5813626  nm1893148       None  nm2970042  ...
139471            None  nm5813626  nm1893148       None  nm4065853  ...
139472            None  nm5813626  nm1893148       None  nm1086949  ...

       numVotes titleType        primaryTitle         originalTitle  isAdult  \
0         88586     movie      Kate & Leopold        Kate & Leopold        0
1         88586     movie      Kate & Leopold        Kate & Leopold        0
2         88586     movie      Kate & Leopold        Kate & Leopold        0
3          5487     movie  The Things of Life  Les choses de la vie        0
4          5487     movie  The Things of Life  Les choses de la vie        0
...         ...       ...                 ...                   ...      ...
139468     5707     movie               Coven              Akelarre        0
139469     5707     movie               Coven              Akelarre        0
139470     5707     movie               Coven              Akelarre        0
139471     5707     movie               Coven              Akelarre        0
139472     5707     movie               Coven              Akelarre        0

       startYear endYear runtimeMinutes                  genres      Revenue
0           2001      \N            118  Comedy,Fantasy,Romance  $76,019,048
1           2001      \N            118  Comedy,Fantasy,Romance  $76,019,048
2           2001      \N            118  Comedy,Fantasy,Romance  $76,019,048
3           1970      \N             89           Drama,Romance       $5,063
4           1970      \N             89           Drama,Romance       $5,063
...          ...     ...            ...                     ...          ...
139468      2020      \N             92           Drama,History     $317,907
139469      2020      \N             92           Drama,History     $317,907
139470      2020      \N             92           Drama,History     $317,907
139471      2020      \N             92           Drama,History     $317,907
139472      2020      \N             92           Drama,History     $317,907

[139473 rows x 24 columns]

In [31]:
expanded_merged_df_rev_all_cols.to_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/expanded_merged_df_rev_all_cols.csv', index=False)

In [32]:
#split by genre


def expand_genre(row):
    genres = row['genres'].split(',') if pd.notna(row['genres']) else [None]

    row_data = row.to_dict()
    expanded_rows = []
    for genre in genres:
        new_row = row_data.copy()
        new_row['genres'] = genre
        expanded_rows.append(new_row)
        
    return expanded_rows

expanded_data_genres = []
for index, row in expanded_merged_df_rev_all_cols.iterrows():
    expanded_data_genres.extend(expand_genre(row))

df_clean = pd.DataFrame(expanded_data_genres)

print(df_clean)

           tconst      actor     actress archive_footage archive_sound  \
0       tt0035423  nm0413168   nm0000212            None          None
1       tt0035423  nm0413168   nm0000212            None          None
2       tt0035423  nm0413168   nm0000212            None          None
3       tt0035423  nm0000630   nm0000212            None          None
4       tt0035423  nm0000630   nm0000212            None          None
...           ...        ...         ...             ...           ...
362197  tt9916362  nm0266723  nm10678594            None          None
362198  tt9916362  nm0266723  nm10678594            None          None
362199  tt9916362  nm0266723  nm10678594            None          None
362200  tt9916362  nm0266723  nm10678594            None          None
362201  tt9916362  nm0266723  nm10678594            None          None

       cinematographer   composer   director     editor   producer  ...  \
0            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
1            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
2            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
3            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
4            nm0238698  nm0448843  nm0003506  nm0107463  nm0465298  ...
...                ...        ...        ...        ...        ...  ...
362197            None  nm5813626  nm1893148       None  nm2970042  ...
362198            None  nm5813626  nm1893148       None  nm4065853  ...
362199            None  nm5813626  nm1893148       None  nm4065853  ...
362200            None  nm5813626  nm1893148       None  nm1086949  ...
362201            None  nm5813626  nm1893148       None  nm1086949  ...

       numVotes titleType    primaryTitle   originalTitle  isAdult startYear  \
0         88586     movie  Kate & Leopold  Kate & Leopold        0      2001
1         88586     movie  Kate & Leopold  Kate & Leopold        0      2001
2         88586     movie  Kate & Leopold  Kate & Leopold        0      2001
3         88586     movie  Kate & Leopold  Kate & Leopold        0      2001
4         88586     movie  Kate & Leopold  Kate & Leopold        0      2001
...         ...       ...             ...             ...      ...       ...
362197     5707     movie           Coven        Akelarre        0      2020
362198     5707     movie           Coven        Akelarre        0      2020
362199     5707     movie           Coven        Akelarre        0      2020
362200     5707     movie           Coven        Akelarre        0      2020
362201     5707     movie           Coven        Akelarre        0      2020

       endYear runtimeMinutes   genres      Revenue
0           \N            118   Comedy  $76,019,048
1           \N            118  Fantasy  $76,019,048
2           \N            118  Romance  $76,019,048
3           \N            118   Comedy  $76,019,048
4           \N            118  Fantasy  $76,019,048
...        ...            ...      ...          ...
362197      \N             92  History     $317,907
362198      \N             92    Drama     $317,907
362199      \N             92  History     $317,907
362200      \N             92    Drama     $317,907
362201      \N             92  History     $317,907

[362202 rows x 24 columns]

In [33]:
df_clean.to_csv('/Users/Trisha/Desktop/Software Des/Boxoffice/df_clean.csv', index=False)

In [40]:
nconst_columns = ['actor', 'actress', 'archive_footage', 'archive_sound', 'cinematographer', 'composer', 'director', 'editor', 'producer', 'writer', 'production_designer',	'self']

data_clean_new = df_clean.copy()

for column in nconst_columns:
    if column in data_clean_new.columns:
        data_clean_new[column] = data_clean_new[column].map(name_dict)

data_clean_new

,tconst,actor,actress,archive_footage,archive_sound,cinematographer,composer,director,editor,producer,...,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,Revenue
0,tt0035423,Hugh Jackman,Meg Ryan,NaN,NaN,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,...,88586,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Comedy,"$76,019,048"
1,tt0035423,Hugh Jackman,Meg Ryan,NaN,NaN,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,...,88586,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Fantasy,"$76,019,048"
2,tt0035423,Hugh Jackman,Meg Ryan,NaN,NaN,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,...,88586,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Romance,"$76,019,048"
3,tt0035423,Liev Schreiber,Meg Ryan,NaN,NaN,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,...,88586,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Comedy,"$76,019,048"
4,tt0035423,Liev Schreiber,Meg Ryan,NaN,NaN,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,...,88586,movie,Kate & Leopold,Kate & Leopold,0,2001,\N,118,Fantasy,"$76,019,048"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362197,tt9916362,Daniel Fanego,Garazi Urkola,NaN,NaN,NaN,Maite Arroitajauregi,Pablo Agüero,NaN,Iker Ganuza,...,5707,movie,Coven,Akelarre,0,2020,\N,92,History,"$317,907"
362198,tt9916362,Daniel Fanego,Garazi Urkola,NaN,NaN,NaN,Maite Arroitajauregi,Pablo Agüero,NaN,Fred Prémel,...,5707,movie,Coven,Akelarre,0,2020,\N,92,Drama,"$317,907"
362199,tt9916362,Daniel Fanego,Garazi Urkola,NaN,NaN,NaN,Maite Arroitajauregi,Pablo Agüero,NaN,Fred Prémel,...,5707,movie,Coven,Akelarre,0,2020,\N,92,History,"$317,907"
362200,tt9916362,Daniel Fanego,Garazi Urkola,NaN,NaN,NaN,Maite Arroitajauregi,Pablo Agüero,NaN,Koldo Zuazua,...,5707,movie,Coven,Akelarre,0,2020,\N,92,Drama,"$317,907"
362201,tt9916362,Daniel Fanego,Garazi Urkola,NaN,NaN,NaN,Maite Arroitajauregi,Pablo Agüero,NaN,Koldo Zuazua,...,5707,movie,Coven,Akelarre,0,2020,\N,92,History,"$317,907"

In [41]:
data_clean_new.drop(columns=['archive_footage', 'archive_sound', 'originalTitle', 'endYear'], inplace=True)

data_clean_new.head()

,tconst,actor,actress,cinematographer,composer,director,editor,producer,production_designer,self,writer,averageRating,numVotes,titleType,primaryTitle,isAdult,startYear,runtimeMinutes,genres,Revenue
0,tt0035423,Hugh Jackman,Meg Ryan,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,NaN,NaN,Steven Rogers,6.4,88586,movie,Kate & Leopold,0,2001,118,Comedy,"$76,019,048"
1,tt0035423,Hugh Jackman,Meg Ryan,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,NaN,NaN,Steven Rogers,6.4,88586,movie,Kate & Leopold,0,2001,118,Fantasy,"$76,019,048"
2,tt0035423,Hugh Jackman,Meg Ryan,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,NaN,NaN,Steven Rogers,6.4,88586,movie,Kate & Leopold,0,2001,118,Romance,"$76,019,048"
3,tt0035423,Liev Schreiber,Meg Ryan,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,NaN,NaN,Steven Rogers,6.4,88586,movie,Kate & Leopold,0,2001,118,Comedy,"$76,019,048"
4,tt0035423,Liev Schreiber,Meg Ryan,Stuart Dryburgh,Rolfe Kent,James Mangold,David Brenner,Cathy Konrad,NaN,NaN,Steven Rogers,6.4,88586,movie,Kate & Leopold,0,2001,118,Fantasy,"$76,019,048"

In [42]:
data_clean_new.to_csv('/Users/Trisha/Desktop/Software Des/box-office-prediction/cleaned_data/data_clean_v2.csv', index=False)